body {
    display: flex;
    margin: 0;
    padding: 0;
}

pre {
    background: rgb(39, 30, 61);
    color: white;
    flex: 0 1 400px;
    font-size: 2.5vw;
    margin: 0;
    padding-inline-end: 1em;
}

@media (min-width: 570px) {
    pre {
        font-size: 1em;
    }
}