/* 
    Properties for the body / general purpose,
    e.g. removing list styling and margin
*/

/*
    Navbar/Header Properties
    In order from parent to child
*/

/*
    Main body properties
    In order from parent to child
*/

/*
    Footer Properties
    In order from parent to child
*/

/*
    Media queries
        Min-width queries, in ascending order of
        width

        Any other queries
*/
