/* ----- General properties ----- */

body, body * {
    margin: 0 0;
    padding: 0 0;
}

ul {
    list-style: none;
}

    /* --- General purpose classes --- */

.italics {
    font-style: italic;
}

.bg-and-padding {
    background:rgb(186, 186, 209);
    padding: 2em;
}

/* ----- Navbar properties ----- */

.top-navbar {
    background-color: rgb(64, 52, 92);
    font-weight: 600;
}

.top-navbar > * {
    align-items: center;
    display: flex;
    height: 3em;
}

.nav-item {
    align-items: center;
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    transition: 0.2s;
}

#current-page {
    background:rgb(105, 78, 168);
}

.nav-item:hover {
    cursor: pointer;
    font-size: larger;
}

.nav-item a {
    color: white;
    margin-inline: 1em;
    text-decoration: none;
}

/* ----- Main Body Properties ----- */

h1 {
    margin-bottom: 0.7em;
}

p {
    line-height: 1.5em;
    margin-bottom: 0.5em;
}

sup {
    line-height: 1;
}

#image-container {
    align-items: center;
    display: flex;
    font-size: 0.7em;
    justify-content: space-around;
    max-width: 100%;
    padding-block: 0.5em;
}

#image-container img {
    max-width: 100%;
}

    /* --- References Section Properties --- */

#references {
    font-size: 0.8em;
    padding-top: 0.2em;
}

#references h2 {
    border-top: 2px solid rgba(12, 10, 17, 0.3);
    margin-bottom: 1.5em;
}

#references li {
    margin-block: 0.5em;
}

/* Fixes an issue where long hyperlinks were interfering with the page layout*/
#references a {
    word-break: break-all;
}

/* ----- Footer Properties ----- */

footer {
    background: rgb(39, 30, 61);
    color: white;
    font-size: smaller;
    padding: 1em;
}

/* ----- Screen-width Media Queries ----- */

@media (min-width: 570px) {
    h1 {
        margin-bottom: 1em;
        font-size: 2em;
    }

    #image-container figure {
        max-width: 25%;
    }
}

@media (min-width: 720px) {
    .nav-item {
        flex: 0;
    }
    .nav-item a {
        margin-inline: 2em;
    }
}

@media (min-width: 1000px) {
    article {
        display: flex;
        justify-content: center;
    }
    article > * {
        flex-basis: 50%;
        margin-inline: 2em;
    }
    #image-container figure {
        max-width: 45%;
    }
}